/* Global styles */

body {
    padding-top: 80px;
    padding-bottom: 20px;
    background: rgb(240, 240, 240);
    background: -moz-radial-gradient(circle, rgba(240, 240, 240, 1) 0%, rgba(42, 123, 167, 1) 92%);
    background: -webkit-radial-gradient(circle, rgba(240, 240, 240, 1) 0%, rgba(42, 123, 167, 1) 92%);
    background: radial-gradient(circle, rgba(240, 240, 240, 1) 0%, rgba(42, 123, 167, 1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0", endColorstr="#2a7ba7", GradientType=1);
}

/* Form and input styles */

.body-content {
    background-color: lightblue;
    border: 1px solid grey;
    padding: 10px;
}

input,
select,
textarea {
    width: 100%; /* Full width on small screens */
    max-width: 280px;
    box-sizing: border-box; /* Include padding and border in the width */
}

/* Validation styles */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Client dashboard styles */

.dashboard {
    padding: 10px;
}

.client-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.file-section,
.request-section {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

    .file-section h2,
    .request-section h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .file-section p,
    .request-section p {
        margin-bottom: 5px;
    }

ul.request-list {
    list-style-type: none;
    padding: 0;
}

    ul.request-list li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding: 5px 0;
    }

        ul.request-list li:last-child {
            border-bottom: none;
        }

.request-id {
    font-weight: bold;
}

/* Responsive font sizes */
h2 {
    font-size: 40px; /* Increase size for desktop */
    font-weight: bold; /* Add bold for distinct heading */
    margin-bottom: 10px; /* Adjust spacing */
   text-align:center;
}


/* Adjust font sizes for smaller screens */
@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    h2 {
        font-size: 20px;
    }

    /* Add more font-size adjustments as needed for other elements */
}
