{% extends "app/layout.html" %}

{% block content %}

<style>
    /* Additional custom styles */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.5;
    }

    .form-label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .invalid-feedback {
        color: red;
        margin-top: 0.25rem;
    }

    /* Show error messages for invalid fields */
    .is-invalid ~ .invalid-feedback {
        display: block;
    }
</style>

<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4">Translation Request Form</h1>
        {% include 'app/form_template.html' with form=translation_form %}

        


    </div>
</div>
{% endblock %}
