{% extends "app/layout.html" %}

{% block content %}
<h1>Translation Tracker</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Request ID</th>
                <th>Status</th>
                <th>Client</th>
                <th>Source Language</th>
                <th>Target Language</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {% for request in translation_requests %}
            <tr>
                <td>{{ request.request_date|date:"M d" }}</td>
                <td>{{ request.id }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.client.first_name }} {{ request.client.last_name }}</td>
                <td>{{ request.source_language }}</td>
                <td>{{ request.target_language }}</td>
                <td>{{ request.content | truncatechars:255}}</td>
                <!-- Add more table columns for additional details about the translation request if needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
