<style>
    .services-section {
       
        padding: 30px 0;
    }

   
    .services-card {
        border: none;
        background-color: #ffffff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;
        color: #333333;
        margin-bottom:10px;
    }

        .services-card:hover {
            transform: scale(1.05);
        }

    .services-card-title {
        font-size: 24px;
        margin-bottom: 15px;
        color: #1c3a57;
    }

    .services-card-text {
        color: #555555;
        font-size: 16px;
    }
</style>

<section class="services-section">
    <h2 class="services-title">Explore Our Services</h2>

    <div class="row">
        <div class="col-lg-4 d-flex">
            <div class="card services-card flex-fill">
                <div class="card-body">
                    <h3 class="services-card-title">Translation Solutions</h3>
                    <p class="services-card-text">Personalized document translations will help you communicate effectively, access opportunities, and break language barriers.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex">
            <div class="card services-card flex-fill">
                <div class="card-body">
                    <h3 class="services-card-title">Engaging Content Creation</h3>
                    <p class="services-card-text">Audio, video, and image content that Bring your ideas to life and amplify your creativity.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex">
            <div class="card services-card flex-fill">
                <div class="card-body">
                    <h3 class="services-card-title">Enhanced Subtitling & Captions</h3>
                    <p class="services-card-text"> Improve accessibility, language learning, inclusivity, SEO, engagement, and cost savings, </p>
                </div>
            </div>
        </div>
    </div>
</section>
