{% extends "app/layout.html" %}
{% load static %}
{% block content %}

<div class="row">
    <!-- Column 1: About Text -->
    <div class="col-md-6">
        <h2>Welcome to Mokreyol Tradui</h2>
        <p>
            Mokreyol is your premier online translation service, catering specifically to the vibrant Haitian community.
            We specialize in English, French, and Haitian Kreyol languages, offering quick and affordable document
            translation services.
        </p>
    </div>

    <!-- Column 2: Image -->
    <div class="col-md-6">
        <img style="border-radius: 30px;" src="{% static 'app/images/about-1.jpg' %}" class="img-fluid mt-3" alt="Mokreyol Image">
    </div>
</div>

{% endblock %}
