{% extends "app/layout.html" %}
{% load static %} <!-- Load the static files -->
{% block content %}
<div class="dashboard">
    <h1>Client Request Dashboard</h1>
    <div class="client-info">
        <h2>Welcome, {{ client_info.first_name }} {{ lient_info.last_name }}!</h2>
        <p>Email: {{  client_info.email }}</p>
        <p>Term and Conditions: {% if client.term_condition %}Accepted{% else %}Not Accepted{% endif %}</p>
    </div>

    <div class="file-section">

        <a href="{% url 'create_translation_request' client_id=client_info.id %}" class="btn">Create New Translation Request</a>
      
    </div>

    <div class="request-section">
        <h2>Current Translation Requests</h2>
        {% if translation_requests %}
        <ul class="request-list">
            {% for request in translation_requests %}
            <li>
                <span class="request-id">Request ID: {{ request.id }}</span>
                <a href="{% url 'view_translation_request' request_id=request.id %}" class="btn">View Request</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No current translation requests found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
