{% extends "app/layout.html" %}
{% block content %}
<h1>Client Request Dashboard</h1>
<h1>Welcome, {{ client.first_name }} {{ client.last_name }}!</h1>
<p>Email: {{ client.email }}</p>
<p>Term and Conditions: {% if client.term_condition %}Accepted{% else %}Not Accepted{% endif %}</p>

<h2>Uploaded Files:</h2>
    {% for file in client.client_files.all %}
<p>{{ file.file_type }}: <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a></p>
    {% endfor %}

<h2>Upload New File:</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'upload_files' client.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload">
</form>

{% endblock %}
