
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Translation Services</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dashboard.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="container body-content">
        <div class="sidebar">
            <!-- Add your vertical navigation panel content here -->
            <ul>
                <!-- Home -->
                <li>
                    <a href="{% url 'list_clients' %}">Home</a>
                    </li>

                    <!-- Other Dashboard Pages -->
                    <li>
                        <a href="{% url 'list_clients' %}">Dashboard Page 1</a>
                        </li>
                        <li>
                            <a href="{% url 'list_clients' %}">Dashboard Page 2</a>
                            </li>
                            <!-- Add more navigation items for other dashboard pages -->
                            <!-- Profile -->
                            <li>
                                <a href="{% url 'list_clients' %}">Profile</a>
                                </li>
            </ul>
        </div>


        <div class="content">
            <!-- Main content goes here -->
            {% block content %}
            {% endblock %}
        </div>



        <hr />
        <footer>
            <p>&copy; {{ year }} - Anditherobot</p>
        </footer>
    </div>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
