 <footer class="bg-dark text-white">
            <div class="row">
                <div class="col-4">
                    <p>&copy; {{ year }} - Mokreyol</p>
                    <p><a href="/"></a></p>
                    <p>By Mokreyol</p>
                    <p>Mokreyol Tradui offers top-notch translation services for documents, focusing on 4 languages. and
                        100% worry-free experience.</p>
                    <h3>GET IN TOUCH</h3>
                    <p><a href="mailto:info@formaltranslations.com">info@mokreyol.com</a></p>
                </div>
                <div class="col-4">
                    <h3>SERVICES</h3>
                    <p><a href="#">Certified Translation</a></p>
                    <p><a href="#/">Documents</a></p>
                    <p><a href="#">Languages</a></p>
                    <h3>TOP IN-DEMAND SERVICES</h3>
                    <p><a href="/documents/birth-certificate/">Diploma</a></p>
                    <p><a href="/documents/passport/">Resume</a></p>
                    <p><a href="/documents/id/">Official Immigration Documents</a></p>
                    <p><a href="/documents/marriage-certificate/">Marriage Certificates</a></p>

                </div>

                <div class="col-4">
                    <h3>COMPANY</h3>
                    <p>About us</p>
                    <p>Terms & Conditions</p>
                    <p>Security & Confidentiality</p>

                </div>


            </div>

        </footer>

<style>
    footer {
        padding: 20px 0;
        color: #fff;
        background-color: #333;
    }
    
    footer .row {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer .col-4 {
        flex: 1 0 21%; /* This will make the columns responsive, taking 21% of the row width */
        margin: 20px 2%; /* Some margin for spacing */
        min-width: 200px; /* Minimum width of a column */
    }
    
    footer h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 1.2em;
    }
    
    footer p {
        margin-bottom: 10px;
        font-size: 0.9em;
    }
    
    footer a {
        color: #fff;
        text-decoration: none;
    }
    
    footer a:hover {
        color: #ddd;
    }
    
    /* Responsive design for mobile */
    @media (max-width: 600px) {
        footer .row {
            flex-direction: column;
        }
    
        footer .col-4 {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
</style>

