 <footer class="bg-dark text-white">
            <div class="row">
                <div class="col-4">
                    <p>&copy; {{ year }} - Mokreyol</p>
                    <p><a href="/"> About</a></p>
                    <p>By Mokreyol</p>
                    <p>Mokreyol Tradui offers top-notch translation services for documents, focusing on 4 languages. and
                        100% worry-free experience.</p>
                   
                </div>
                <div class="col-4">
                    <h3>SERVICES</h3>
                    <p><a href="#"> Translation</a></p>
                    <p><a href="#/">Subtitling</a></p>
                    <p><a href="#">Content Creation</a></p>
                   
                </div>
                <div class="col-4">
                    <h3>GET IN TOUCH</h3>
                    <p><a href="mailto:info@formaltranslations.com">info@mokreyol.com</a></p>
                </div>

                
       

            </div>

        </footer>

<style>
    footer {
        padding: 10px 0;
        color: #fff;
        background-color: #333;
    }
    
    footer .row {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    
    footer h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 1.2em;
    }
    
    footer p {
        margin-bottom: 10px;
        font-size: 0.9em;
    }
    
    footer a {
        color: #fff;
        text-decoration: none;
    }
    
    footer a:hover {
        color: #ddd;
    }
    
    /* Responsive design for mobile */
    @media (max-width: 600px) {
        footer .row {
            flex-direction: column;
        }
    
        footer .col-4 {
            flex: 1 0 100%;
            max-width: 100%;
        }
    }
</style>

