{% extends "app/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}



<style>
</style>

{% include 'app/_jumbotron.html' %}

  {% language_cards %}
  {% include 'app/servicesteps.html' %}
{% include 'app/_ourservices.html' %}

<div class="row">
    <h2 class="text-center">Industries Served</h2>
    <div class="col-md-4">
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Technology and IT</h4>
                <p class="services-card-description">Software companies, IT departments.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">E-commerce and Retail</h4>
                <p class="services-card-description">E-commerce platforms, retail companies.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Media and Entertainment</h4>
                <p class="services-card-description">Subtitles, video game localization.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Personal</h4>
                <p class="services-card-description">Airlines, hotels, tourism boards.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Academia and Education</h4>
                <p class="services-card-description">International universities, research institutions.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Manufacturing and Engineering</h4>
                <p class="services-card-description">Product manuals, technical documentation.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Non-profit and NGOs</h4>
                <p class="services-card-description">International initiatives, communication.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Real Estate</h4>
                <p class="services-card-description">Contracts, agreements.</p>
            </div>
        </div>
        <div class="card services-card flex-fill">
            <div class="card-body">
                <h4 class="services-card-title">Government</h4>
                <p class="services-card-description">Government agencies, diplomatic relations.</p>
            </div>
        </div>
        <!-- Add more industry cards here if needed -->
    </div>



</div>

    {% endblock %}
