{% extends "app/layout.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}



<style>
    /* Common styles */


    h2 {
        color: #363446;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 120%;
    }

    .language-stats {
        list-style: none;
        text-align: left;
    }

    .row {
        display: flex;
    }

    .industry-card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin: 10px;
        flex: 1; /* Equal width for all cards */
        display: flex;
        flex-direction: column;
    }

        .industry-card:nth-child(even) {
            background-color: #ece6f2;
        }
</style>

{% include 'app/_jumbotron.html' %}

  {% language_cards %}

<style>
    .info-container {
        background-color: #f2f2f2;
        padding: 30px;
        border-radius: 15px;
    }

    .info-content {
        padding: 20px;
        text-align: center;
    }

        .info-content h3 {
            font-size: 24px;
            color: #31274f;
        }

        .info-content ul {
            list-style-type: none;
            padding: 0;
        }

            .info-content ul li {
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: bold;
            }

        .info-content .btn-success {
            background-color: #4caf50;
            border-color: #4caf50;
        }

        .info-content p {
            color: #999;
            margin-top: 15px;
            font-weight: bold;
        }

    .info-image {
        border-radius: 15px;
        max-height: 380px;
        display: flex;
        justify-self: end;
    }
</style>


<div class="row ">
    <div class="col-md-8">
        <div class="info-container">
            <div class="info-content">
                <h3>Translate Your Document with Ease</h3>
                <ul>
                    <li>1. Upload your files to our platform.</li>
                    <li>2. Make a secure online payment.</li>
                    <li>3. Download the translated document.</li>
                </ul>
                <button class="btn btn-success mt-3">Start Translation</button>
                <p>We prioritize your security and privacy. Your data is encrypted using SSL technology, and we do not store credit card information.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <img class="info-image img-fluid rounded" src="{% static 'app/images/3-steps.jpg' %}" height="633" alt="Mokreyol Image">

    </div>
</div>

<section class="row mb-3 pb-2 mt-3 bg-white">
    <h2 class="text-center">Our services</h2>

    <div class="col-md-4">
        <div class="card box_1">
            <div class="card-body">
                <h3 class="card-title">Translation</h3>
                <p class="card-text">Accurate and precise translations.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card box_2">
            <div class="card-body">
                <h3 class="card-title">Content Creation</h3>
                <p class="card-text">Engaging  and culturally relevant .</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card box_3">
            <div class="card-body">
                <h3 class="card-title">Subtitling / Closed Captions</h3>
                <p class="card-text">Presentations, Videos, Audio and Graphics</p>
            </div>
        </div>
    </div>
</section>


<div class="row bg-white">
    <h2 class="text-center">Industries Served</h2>
    <div class="col-md-4">
        <div class="industry-card">
            <h4 class="industry-card-title">Technology and IT</h4>
            <p class="industry-card-description">Software companies, IT departments.</p>
        </div>
        <div class="industry-card">
            <h4 class="industry-card-title">E-commerce and Retail</h4>
            <p class="industry-card-description">E-commerce platforms, retail companies.</p>
        </div>
        

        <div class="industry-card">
            <h4 class="industry-card-title">Media and Entertainment</h4>
            <p class="industry-card-description">Subtitles, video game localization.</p>
        </div>
    </div>

    <div class="col-md-4">

        <div class="industry-card">
            <h4 class="industry-card-title">Personal</h4>
            <p class="industry-card-description">Airlines, hotels, tourism boards.</p>
        </div>
        <div class="industry-card">
            <h4 class="industry-card-title">Academia and Education</h4>
            <p class="industry-card-description">International universities, research institutions.</p>
        </div>
        <div class="industry-card">
            <h4 class="industry-card-title">Manufacturing and Engineering</h4>
            <p class="industry-card-description">Product manuals, technical documentation.</p>
        </div>

    </div>
    <div class="col-md-4">

        <div class="industry-card">
            <h4 class="industry-card-title">Non-profit and NGOs</h4>
            <p class="industry-card-description">International initiatives, communication.</p>
        </div>
        <div class="industry-card">
            <h4 class="industry-card-title">Real Estate</h4>
            <p class="industry-card-description">Contracts, agreements.</p>
        </div>
        <div class="industry-card">
            <h4 class="industry-card-title">Government</h4>
            <p class="industry-card-description">Government agencies, diplomatic relations.</p>
        </div>

        <!-- Add more industry cards here if needed -->
    </div>
</div>





{% endblock %}
