{% extends "app/layout.html" %}
{% load custom_filters %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Translation Request Summary</h1>
        <p><a href="{% url 'client_dashboard' client_id=translation_request.client.id %}">{{ translation_request.client }}</a> | Date Request: {{ translation_request.request_date }} | Status: {{ translation_request.status }}</p>
        <p>Source Language: {{ translation_request.source_language }} | Target Language: {{ translation_request.target_language }}</p>
        <p>Instructions: {{ translation_request.content }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Action Buttons Row -->
        <div class="btn-group" role="group" aria-label="File Actions">
            <a class="btn btn-danger" href="#">Cancel Request</a>
            <a class="btn btn-info" href="#">Message Client</a>
            <a class="btn btn-primary" href="#">View Log</a>
            <a class="btn btn-success" href="#">Financials</a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-3">
        <h4>Void</h4>
        <ul class="list-group file-list" style="background-color: #f8f9fa; border: 1px solid #d1d3e2;">
            {% for file in client_files %}
            {% if file.status == 'Void' %}
            <li class="list-group-item">
                {{ file.original_file.name|get_filename:True }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Pending</h4>
        <ul class="list-group file-list" style="background-color: #f8f9fa; border: 1px solid #d1d3e2;">
            {% for file in client_files %}
            {% if file.status == 'Pending' %}
            <li class="list-group-item">
                {{ file.original_file.name|get_filename:True }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <h4>In Progress</h4>
        <ul class="list-group file-list" style="background-color: #f8f9fa; border: 1px solid #d1d3e2;">
            {% for file in client_files %}
            {% if file.status == 'In Progress' %}
            <li class="list-group-item">
                {{ file.original_file.name|get_filename:True }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-3">
        <h4>Completed</h4>
        <ul class="list-group file-list" style="background-color: #f8f9fa; border: 1px solid #d1d3e2;">
            {% for file in client_files %}
            {% if file.status == 'Completed' %}
            <li class="list-group-item">
                {{ file.original_file.name|get_filename:True }}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
